<!-- Validation failure messages -->
<% if @wine.errors.any? %>
  <% @wine.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Wine #<%= @wine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form enctype="multipart/form-data" action="/update_wine/<%= @wine.id %>" method="post">

      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for brand -->
      <div class="form-group">
        <label for="brand" class="control-label">
          Brand
        </label>

        <input type="text" id="brand" name="brand" placeholder="Brand" class="form-control" value="<%= @wine.brand %>">
      </div>


      <!-- Label and input for style_grape -->
      <div class="form-group">
        <label for="style_grape" class="control-label">
          Style/Grape
        </label>

        <input type="text" id="style_grape" name="style_grape" placeholder="Style grape" class="form-control" value="<%= @wine.style_grape %>">
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @wine.rating %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @wine.description %></textarea>
      </div>


      <!-- Label and input for store -->
      <div class="form-group">
        <label for="store" class="control-label">
          Buy At
        </label>

        <input type="text" id="store" name="store" placeholder="Store" class="form-control" value="<%= @wine.store %>">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @wine.price %>">
      </div>

      <button class="btn btn-warning">
        Update Wine
      </button>
      or
      <a href="/wines/<%= @wine.id %>">Cancel</a>
    </form>
  </div>
</div>
